* {
    font-family: sans-serif;
  }
  header {
    text-align: center;
  }
  .clout {
    font-size: 50px;
    padding: 10px;
    margin: auto;
    font-family: Russo One, sans-serif;
    color: #CC2936;
    letter-spacing: 0.1em;
  }
  .slogan {
    margin: auto;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.05em;
  }
  .login {
    width: 360px;
    padding: 30px 0 0;
    margin: auto;
  }
  form {
    position: static;
    background: #FFFFFF;
    margin: 0px 0px 0px;
    max-width: 360;
    padding: 40px;
    text-align: center;
    
    animation: appear 2s;
  }
  form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 25px;
  }
  
  form button {
    font-family: "Roboto", sans-serif;
    background: #CC2936;
    width: 47%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
  }
  #login {
    float: left;
  }
  #signup {
    float: right;
  }
  button:hover {
    background: #9e202a;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }