<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{{username}}}'s page</title>
    <link rel="stylesheet" href="/css/profile.css"/>
    <link rel="icon" href = "/images/cloutfav.ico"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Russo+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"></link>
  </head>
  <header>
    <a href="/"><h1 class = "clout">CLOUT</h1></a>
    <!-- <h6 class = "slogan">where do you stand?</h6> -->
  </header>

  <!-- handlebars replaces this with the layout -->
  <body>
      {{{body}}}
    <script src="profile.js"></script>
  </body>
</html>
