
.login {
  width: 360px;
  padding: 30px 0 0;
  margin: auto;
}

#loginTitle {
  color: #CC2936;
  font-family: Russo One, sans-serif;
  margin-bottom: 50px;
  font-weight:400;
  letter-spacing: 0.05em;
  font-size: 30px;
}

.login-form {
  position: static;
  margin: 0px 0px 0px;
  max-width: 360;
  padding: 40px;
  text-align: center;
  
  animation: appear 1s;
}

.login-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 25px;
}

.login-form .button-navlink {
  color: #FFFFFF;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  background: #CC2936;
  width: 38%;
  border: 0;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 25px;
  text-decoration: none;
}

.login-form button {
  font-family: Roboto, sans-serif;
  align-content: left;
  background: #CC2936;
  width: 47%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  border-radius: 25px;
}

#buttons {
  display: flex;
  justify-content: space-between;
}

.login-form button:hover,.login-form .button-navlink:hover {
  background: #9e202a;
}

#errMessage {
  font-family: "Roboto", sans-serif;
  text-align: center;
  justify-content: center;
  color: #CC2936;
  align-items: center;
  font-size: 15px;
}


@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}