
/*TOP OF PROFILE */

  .pfp-top {
    display: grid;
    align-items: center;
    margin-bottom: 100px;
  }
  .pfp-pic {
      margin-left: 50px;
      width: 200px;
      height: 200px;
      object-fit: cover;
      object-position: 5%;
      border-radius: 50%;
      border-color: #CC2936;
      border-width: 10px;
      border-style: solid;
      
  }
  .pfp-userinfo {
    margin-top: 100px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  .name {
    margin: 0;
    font-size: 50px;
  }
  .username {
    margin: 0;
    font-size: 20px;
    color: gray;
  }


/*PROFILE BODY */


  .pfp-body {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    margin: 5vw;

  }

  /*
  .pfp-body h1 {
    justify-content: center;
    display: flex;
    font-size: 50px;
    color:#CC2936;
    font-family: Russo One, sans-serif;
    letter-spacing: 0.1em;
    text-align: center; 
    margin: 0;
  }
*/

  /* WDIGETS */

  .widget{
    letter-spacing: 0.03em;
    font-family: Roboto, sans-serif;
    justify-content: center;
    font-weight: bold;

    /*margin: 0, 20px, 20px;*/
    margin: auto;
    border-style:solid;
    border-color: #CC2936;
    border-width: 10px;
    border-radius: 10%;
    padding:20px;
    min-width: 400px;

    display: flex;
    flex: 1;
    height: 300px;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    /*
    padding: 2vh;
    width: 40vw;
    max-width: 500px;
    height: 40vw;
    max-height: 500px;
    border-style:solid;
    border-color: #CC2936;
    border-width: 10px;
    border-radius: 10%;
    margin: 0, 10vh, 10vh;
    */

  }


  .inverted-widget{
    letter-spacing: 0.03em;
    font-family: Roboto, sans-serif;
    justify-content: center;
    font-weight: bold;

    background-color: #CC2936;
    /*margin: 0, 20px, 20px; */
    margin: auto;
    border-style:solid;
    border-color: #CC2936;
    border-width: 10px;
    border-radius: 10%;
    padding:20px;
    min-width: 400px;

    display: flex;
    flex: 1;
    height: 300px;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    /*
    padding: 2vh;
    width: 40vw;
    max-width: 500px;
    height: 40vw;
    max-height: 500px;
    border-style:solid;
    border-color: #CC2936;
    border-width: 10px;
    border-radius: 10%;
    margin: 0, 10vh, 10vh;
    */

  }

  /* RATING */

  #avgRating {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    font-weight: bold;
    font-size: 100px;
    background-color: inherit;
  }

  /*
  #slash {
    font-size: 50px;
    display: inline-flex;
    vertical-align: -75px;
    margin-left: 5px;
  }
  */

  #out-of-five {
    font-size: 50px;
    display: inline-flex;
    margin-left: 10px;
    vertical-align: -30px;
  }
  
  #avg-rating-container {
    justify-content: center;
  }

  /* RANK */

  .rank-body {
    background-color: inherit;
  }


  .rank-body p {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 18px;
    color:#f9e9ea;
    background-color: inherit;
  }
  

  .rank-body h1 {
    display: flex;
    font-size: 50px;
    color:#ffffff;
    font-family: Russo One, sans-serif;
    letter-spacing: 0.1em;
    text-align: center; 
    justify-content: center;
    margin: 0;
    background-color: inherit;
  }

  #rank {
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    margin-left: 10px;
    font-weight: bold;
    font-size: 150px;
    color:#ffffff;
    background-color: inherit;
  }

  .rank-body #hash {
    background-color: #CC2936;
    justify-content: center;
    display: inline-block;
    font-size: 50px;
    color:#ffffff;
  }

  /* REVIEWS */

  .top-reviews {
    margin-top: 20px;
  }

  #review {
    margin: 10px;
  }

  /* SETTINGS */

#settings {
  margin-top: 200px;
  position: absolute;
  right: 30px;
  margin-right: 50px;
}

#settings-buttons {
  position: absolute;
  float: right;
  right: 30px;
}

#settings-btn {
  display: flex;
  font-family: Roboto, sans-serif;
  background: #CC2936;
  border: 0;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  border-radius: 25px;
  font-weight: bold;
  margin: 10px 50px;
}

#change-btn {
  display: block;
  font-family: Roboto, sans-serif;
  background: #CC2936;
  border: 0;
  padding: 5px 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  border-radius: 25px;
  margin-bottom: 10px;
}

#name-change {
  display: flex;
}

#settings-options {
  display: block;
}

#submit-btn {
  font-family: Roboto, sans-serif;
  background: #CC2936;
  border: 0;
  padding: 5px 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  border-radius: 25px;
}

/*
#switch {
  margin-top: 200px;
  position: absolute;
  right: 30px;
  margin-right: 50px;
  display: inline-flex;
}

#switch-text {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  text-align: center;
}
*/

 



  